{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>WalMart Summary</title>
<link rel="stylesheet" type="text/css" href="{% static "assets/css/style.css"%}"/>
<!--[if IE]>
	<link type='text/css' href='css/style_ie.css' rel='stylesheet' media='screen' />
<![endif]-->
<img id="ctl00_imgLogo" src="{% static "assets/SCLogo-tm.jpg"%}" style="border-width:0px">
<h3>

The WalMart Fleet

</h3>
</head>
<body>

<div>

	<ul id="iphone-scroll">
		<li>
        
		
			<ul>
				<li><a href = "/status_check" title="Status Check"><strong>Status Check</strong></a></li>
				<li><a href = "/monthly_summary" title="Monthly Summary"><strong>Monthly Summary</strong></a></li>
				<li><a href = "/individual_index" title="Individual Site"><strong>Individual Site</strong></a></li>
			</ul>
		</li>

	</ul>
</div>
</body>
</html>